body {
    /* Меняем шрифт на DM Sans */
    font-family: 'DM Sans', sans-serif; 
    background: #121212; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 40px;
    color: #e0e0e0; 
}

.container {
    background: #1e1e1e; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex-grow: 1;
    padding: 10px;
    background: #333; 
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    /* Применяем шрифт и сюда */
    font-family: 'DM Sans', sans-serif; 
}

#taskCategory {
    padding: 10px;
    background: #333; 
    border: 1px solid #555;
    border-radius: 5px;
    color: #fff;
    /* Применяем шрифт и сюда */
    font-family: 'DM Sans', sans-serif; 
}

#addButton {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    /* Применяем шрифт и сюда */
    font-family: 'DM Sans', sans-serif; 
}

#addButton:hover {
    background: #0056b3;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: #2c2c2c; 
    border-radius: 5px;
    border-left: 5px solid;
    transition: background 0.3s;
}

.task-item.personal { border-left-color: #f87153; }
.task-item.work { border-left-color: #3d9bff; }
.task-item.health { border-left-color: #44c763; }


.task-text {
    flex-grow: 1;
    margin-right: 15px;
    cursor: pointer;
    color: #e0e0e0; 
}

.task-item.completed .task-text {
    text-decoration: line-through;
    color: #777; 
}

.delete-btn {
    background: #72282f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /* Применяем шрифт и сюда */
    font-family: 'DM Sans', sans-serif; 
}
